<footer id="footer">
	
	<section class="foot-power">
		<div class="wrap-center">
			<figure class="powered-bigtext"><img src="assets/img/ltg_logo_horizontal.svg" onerror="this.src='assets/img/ltg_logo_horizontal.png'"></figure>
			<span class="power-text">Powered By</span>
			<figure class="logo-circle">
				<img src="assets/img/logo_circle.svg" onerror="this.src='assets/img/logo_circle.png'">
			</figure>
		</div>
	</section>

	<div class="foot-bottom">
		<div class="wrap-center">
			<div class="copyright"><p>Copyright &copy; <a href="#">Love The GIVE</a> 2015</p></div>
			<div class="foot-social">
				<a href="#" class="insta"><i class="fa fa-instagram"></i></a>
				<a href="#" class="tw"><i class="fa fa-twitter"></i></a>
				<a href="#" class="fb"><i class="fa fa-facebook-official"></i></a>
			</div>
		</div>
	</div>
</footer> <!-- //FOOTER -->
<a href="#" id="scrollToTop" class="scrolltoTop fa fa-angle-up"></a>