  <header id="header" {{#isnt basename 'index'}}class="logoshow"{{/isnt}}>
  	<div class="container">
	  	<div class="logo-sticky">
	  		<a href="#"><img src="assets/img/logo_sticky.png" alt=""></a>
	  	</div> <!-- /logo-sticky -->
	  	{{>navigation}}
  	</div>
  </header> <!-- HEADER -->


  
