<section class="herolove">
	<div class="container">
		<div class="wrap-center">
			<!-- <figure class="herolove-logo">
				<img src="assets/img/logo.png" alt="">
			</figure> -->

			 <video id="video" class="video-js vjs-default-skin" controls preload="none" width="500" height="300" poster="http://www.steveandalex.org/videoassets/ltg_poster.png"  data-setup='{ "controls": false, "autoplay": true, "preload": "auto" }'>
			    <source src="http://www.steveandalex.org/videoassets/ltg_animation.mp4" type='video/mp4' />
                <source src="http://www.steveandalex.org/videoassets/ltg_animation.webm" type='video/webm' />
                <source src="http://www.steveandalex.org/videoassets/ltg_animation.ogv" type='video/ogg' />
			  </video>
			<article class="herolove-art">
				{{{headlineDesc}}}
			</article>

			<div class="subscribe">
				{{#signup}}
					<h3>{{title}}</h3>
					<form name="">
						<div class="row">
							<div class="form-group col-md-3">
								<input type="text" name="" placeholder="First Name" class="form-control">
							</div>
							<div class="form-group col-md-3">
								<input type="text" name="" placeholder="Last Name" class="form-control">
							</div>
							<div class="form-group col-md-3">
								<input type="email" name="" placeholder="Email" class="form-control">
							</div>
							<div class="form-group col-md-1">
								<input type="text" name="" placeholder="Zip" class="form-control">
							</div>
							<div class="form-group col-md-3">
								<input type="submit" class="btn-red" value="{{btn}}">
							</div>
						</div>
					</form>
				{{/signup}}
			</div> <!-- //subscribe -->

		</div><!-- //wrap-center -->
	</div>
</section><!-- //herolove -->