<section class="heroinner" style="background-image: url('assets/img/veteran.jpg')">
	<div class="container">
		<article class="hero-desc">
			<h2>#GIVE2VETERANS</h2>
			<div class="content-text">
				<p>To give a shout out to our veterans, we’re teaming up with the Bob Woodruff Foundation’s STAND UP FOR HEROES benefit concert.</p><p>Our #GIVE2VETERANS initiative challenges us to give back to those who have given so much for our country.c</p>
			</div>
			<a href="#" class="redlink">Let’s salute our veterans.</a>
		</article>
	</div>
	<div class="next-scroll">
		<a href="#tworowPlus" class="nextscroll-nav fa fa-angle-down scrollTargeted"></a>
		<span>scroll</span>
	</div>
</section><!-- //herolove -->

