<nav class="nav">
	<ul>
		<li {{#is basename 'index'}} class="active" {{/is}}><a href="index.html">Home</a>
        <li><a href="">Veteran</a></li>
        <li><a href="">About</a></li>
	</ul>
</nav><!-- //Navigation -->
<a href="javscript:void(0)" class="btn-rwd-sidebar"><i class="fa fa-bars"></i></a>