<div id="main" role="main"  class="bg-grey">
	<div class="space45"></div>
		<div class="container">
			<div class="row">

				{{#thumblerDetail}}
					<article class="post-article">
						<h2 class="title-md">{{title}}</h2>
						<figure class="image-center">
							<img src="assets/img/{{thumb}}" alt="">
						</figure>
						<div class="single-entry-meta">
							<span>Post on September 2015</span>
							<p class="single-entry-meta-share">
								<a href="#" class="fa fa-retweet"></a>
								<a href="#" class="fa fa-heart"></a>
							</p>
						</div>
						<div class="ct-articleBox-description">
							<div class="content-text">
								<p>You never know when a child could be having a tough day. #30DayGIVE #LovetheGIVE </p>
							</div>

							<div class="sharepost">
								<span class="text">Share this post</span>
								<a href="#" class="fb-share"><i class="fa fa-fw fa-facebook-square"></i></a>
							</div><!-- /sharepost -->

							<div class="ct-pagination">
								<div class="ct-pagination-prevFix">
							        <a href="http://www.lovethegive.com/post/129094339025" class="text-uppercase ct-pagination-prev">
							            <span class="ct-pagination-prevText">Previous Post</span>
							            <span class="pull-right"><i class="fa fa-long-arrow-left"></i></span>
							        </a>
									<a href="/" class="ct-pagination-middle">
										<i class="fa fa-fw fa-th-large"></i>
										<span class="ct-pagination-middleTextHover">Back to home page</span>
									</a>
									<a href="http://www.lovethegive.com/post/129206146877" class="text-uppercase ct-pagination-next">
				                    	<span class="ct-pagination-nextText">Next Post</span>
				                     	<span class="pull-left"><i class="fa fa-long-arrow-right"></i></span>
				    				</a>
							    </div>
							</div>
						</div><!-- //ct-articleBox-description -->
					</article> <!-- //thumblr-detail -->
				{{/thumblerDetail}}
			</div>
		</div>
		<div class="space45"></div>
</div> <!-- //MAIN -->
  
