{{>hero}}
<div id="main" role="main" >
	<section id="givingTime" class="givingtime"> 
		<div class="wrap-center">
			{{#givingTime}}
				<header>
					<h1 class="givingtime-title">{{title}}</h1>
				</header>
				<div class="content-text">
					{{desc}}
				</div>
				<div class="text-center">
					<a href="#modal-init1" class="btn-red fancybox">{{btn}}</a>
				</div>
			{{/givingTime}}
		</div>
	</section> <!-- //Giving time -->

	<section class="freewall free-wall tumblrnews">
		{{#thumbler}}
			<article class="tumblrnews-item">
				<figure>
					<img src="assets/img/{{thumb}}" alt="">
				</figure>
				<div class="content-text">
					<div class="ct-textLt">
						<a href="#" class="tag-name">{{acccount}}</a>
						<p>{{desc}}</p>
					</div>
					{{#is social "love"}}<a href="#" class="fa fa-heart tag-social"></a>{{/is}}
					{{#is social "instag"}}<a href="#" class="fa fa-instagram tag-social"></a> {{/is}}
					{{#is social "fb"}}<a href="#" class="fa fa-facebook tag-social"></a>{{/is}}
					{{#is social "tw"}}<a href="#" class="fa fa-twitter tag-social"></a> {{/is}}
				</div> 
			</article><!-- /tumblrnews-item -->
		{{/thumbler}}
	</section><!-- //tumblrnews -->
	<div id="modal-init1" class="modalWin">
		<div class="modal-share">
			<h2 class="title-modal">Share your <span class="red">GIVE </span></h2>
			<div class="modal-form row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="label">First Name</label>
						<input type="text" class="form-control">
					</div>
					<div class="form-group">
						<label class="label">Last Name</label>
						<input type="text" class="form-control">
					</div>
					<div class="form-group">
						<label class="label">Email</label>
						<input type="email" class="form-control">
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label class="label">Share picture, video, story</label>
						<div id="FileUpload">
						    <input type="file" size="24" id="BrowserHidden" onchange="getElementById('FileField').value = getElementById('BrowserHidden').value;" />
						    <div id="BrowserVisible"><input type="text" id="FileField" /></div>
						</div>
					</div>

					<div class="form-group9">
						<label class="label">Description</label>
						<textarea class="form-control" rows="5"></textarea>
					</div>
				</div>
			</div>
			<br>
			<div class="form-group">
				<!-- <input type="submit" value="Submit" class="btn-red"> -->
				<a href="#modal-init2" class="btn-red fancybox">{Submit</a>
			</div>
		</div><!-- modal-share -->
	</div><!-- //modalWin -->

	<div id="modal-init2" class="modalWin">
		<div class="modal-thanks">
			<div class="md-thanks-icon">
				<i class="fa fa-heart"></i>
			</div>
			<div class="desc">
				<h4>Thank You!</h4>
				<p>We will review it as soon as possible.</p>
			</div>
		</div><!-- modal-share -->
	</div><!-- //modalWin -->

</div> <!-- //MAIN -->
  
