{{>hero_inner}}
<div class="redlinefull"></div>
<div id="main" role="main" >

	<section id="tworowPlus" class="tworow-plus">
		<div class="container">
			<div class="row">
				<article class="subdonate">
					<div class="inside">
						<figure class="lovelogo">
							<img src="assets/img/logo_gray.jpg" alt="">
						</figure>
						<div class="content-text">
							<p>GIVE to veterans or anyone else. Then share your act of kindness using #GIVE2VETERANS on Instagram, Twitter, Facebook and other social networks. It can be a story, pic or video of any good deed (yours or someone else’s).</p><p>For every #GIVE2VETERANS post between 10/19 and 11/15, we’ll donate $1 to the Bob Woodruff Foundation. Help make it a habit—GIVE, post, share.</p><p>Check out the gallery below for inspiration.</p>
						</div>
						<div class="text-center">
							<a href="#" class="btn-red">Submit</a>
						</div>
					</div>
				</article><!-- //donate-col -->
				<div class="bigPlus"><figure><img src="assets/img/plus.png" alt=""></figure></div>
				<article class="subdonate">
					<div  class="inside">
						<figure>
							<img src="assets/img/woodrufflogo_sm.jpg" alt="">
						</figure>
						<div class="content-text">
							<p>The Bob Woodruff Foundation creates long-lasting, positive outcomes for our nation’s wounded, ill and injured veterans, service members and their families, by finding, funding and shaping initiatives that enrich the lives of these heroes.</p>
						</div>
						<div class="vidgallery-sm">
							<ul class="list-unstyled">
								<li>
									<a href="https://www.youtube.com/embed/K0Eu6cL0BR8?autoplay=1" class="fancybox fancybox.iframe">
										<img src="assets/img/video/video_thumb.jpg" alt="">
									</a>
								</li>
								<li>
									<a href="#" href="https://www.youtube.com/embed/K0Eu6cL0BR8?autoplay=1" class="fancybox fancybox.iframe">
										<img src="assets/img/video/video_thumb2.jpg" alt="">
									</a>
								</li>
								<li>
									<a href="#" href="https://www.youtube.com/embed/K0Eu6cL0BR8?autoplay=1" class="fancybox fancybox.iframe">
										<img src="assets/img/video/video_thumb3.jpg" alt="">
									</a>
								</li>
							</ul>
						</div>
						<div class="text-center">
							<a href="#" class="btn-red">Donate</a>
						</div>
				</article><!-- //donate-col -->
			</div>
		</div>
	</section><!-- //tworow-plus -->

	<section class="freewall free-wall tumblrnews">
		{{#thumbler}}
			<article class="tumblrnews-item">
				<figure>
					<img src="assets/img/{{thumb}}" alt="">
				</figure>
				<div class="content-text">
					<div class="ct-textLt">
						<a href="#" class="tag-name">{{acccount}}</a>
						<p>{{desc}}</p>
					</div>
					{{#is social "love"}}<a href="#" class="fa fa-heart tag-social"></a>{{/is}}
					{{#is social "instag"}}<a href="#" class="fa fa-instagram tag-social"></a> {{/is}}
					{{#is social "fb"}}<a href="#" class="fa fa-facebook tag-social"></a>{{/is}}
					{{#is social "tw"}}<a href="#" class="fa fa-twitter tag-social"></a> {{/is}}
				</div> 
			</article><!-- /tumblrnews-item -->
		{{/thumbler}}
	</section><!-- //tumblrnews -->
	<div id="modal-init1" class="modalWin">
		<div class="modal-share">
			<h2 class="title-modal">Share your <span class="red">GIVE </span></h2>
			<div class="modal-form row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="label">First Name</label>
						<input type="text" class="form-control">
					</div>
					<div class="form-group">
						<label class="label">Last Name</label>
						<input type="text" class="form-control">
					</div>
					<div class="form-group">
						<label class="label">Email</label>
						<input type="email" class="form-control">
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label class="label">Share picture, video, story</label>
						<div id="FileUpload">
						    <input type="file" size="24" id="BrowserHidden" onchange="getElementById('FileField').value = getElementById('BrowserHidden').value;" />
						    <div id="BrowserVisible"><input type="text" id="FileField" /></div>
						</div>
					</div>

					<div class="form-group9">
						<label class="label">Description</label>
						<textarea class="form-control" rows="5"></textarea>
					</div>
				</div>
			</div>
			<br>
			<div class="form-group">
				<!-- <input type="submit" value="Submit" class="btn-red"> -->
				<a href="#modal-init2" class="btn-red fancybox">{Submit</a>
			</div>
		</div><!-- modal-share -->
	</div><!-- //modalWin -->

	<div id="modal-init2" class="modalWin">
		<div class="modal-thanks">
			<div class="md-thanks-icon">
				<i class="fa fa-heart"></i>
			</div>
			<div class="desc">
				<h4>Thank You!</h4>
				<p>We will review it as soon as possible.</p>
			</div>
		</div><!-- modal-share -->
	</div><!-- //modalWin -->
</div> <!-- //MAIN -->
  
