/** DETAIL PAGE
===================================*/
.post-article{
	@include make-md-column(7);
	@include make-md-column-offset(3);
	color: #555555;
	font-size: 15px;
}

.single-entry-meta{
	text-transform: uppercase;
    color: #aaaaaa;
    font-size: 11px;
    font-weight: 600;
    line-height: 1;
    padding: 8px 0 10px 0;
    span{
    	@include inline-block();
    }
   

    .single-entry-meta-share{
    	@include inline-block();
    	margin-bottom: 0;
   		margin-left: 8px;

    	 a{
	    	color: #aaaaaa;
	    	font-size: 23px;
	    	margin: 0 5px;

	    	&:hover{
	    		color: #eb2227;
	    		text-decoration: none;
	    	}
   		 }
    }
}

.ct-articleBox-description{
	margin-top: 10px;
	margin-bottom: 12px;
	padding: 15px 0;
	border-bottom: 1px solid #d3d3d3;
	border-top: 1px solid #d3d3d3;
	overflow: hidden;	

	.content-text{
		margin-bottom: 40px;
	}
}

.sharepost{
	background-color: #f9f9f9;
	border: 1px solid #d3d3d3;
	padding: 20px;
	line-height: 1;
	 margin-bottom: 30px;

	.text{
		font-size: 17px;
		font-weight: 600;
		color: #000000;
		text-transform: uppercase;
		@include inline-block();
		padding-top: 4px;
	}

	.fb-share{
		color: #222222;
		font-size: 23px;
		float: right;

		&:hover{
			color:#f7201b;
			text-decoration: none;
		}
	}
}

.ct-pagination{
	@include clearfix();
	padding-bottom: 16px;
	font-size: 14px;
	a{
		color: #2b3e46;
		@include prefixed (transition, all 0.3s linear);
		font-size: 14px;

		&:hover{
			color: #fc4349;
		}
	}
	.ct-pagination-prev, .ct-pagination-next{
		display: block;
		width: 45%;
		float: left;
		font-weight: 600;
		line-height: 50px;
		min-height: 20px;
		text-transform: uppercase;

		.fa{
			font-size: 30px;
			@media screen and (max-width: 420px){
				display: none;
			}
		}
	}
	.ct-pagination-middle{
		line-height: 1;
		float: left;
		display: block;
		width: 10%;
		text-align: center;
		position: relative;
		@media screen and (min-width: 420px){
			margin-top: -5px;
		}


		i{
			line-height: 50px;
			width: 50px;
			height: 50px;
			border: 1px solid transparent;
			@include border-radius(100%);
			-moz-background-clip: padding-box;
			-webkit-background-clip: padding-box;
			background-clip: padding-box;
			-webkit-transition: all 0.4s ease;
			-moz-transition: all 0.4s ease;
			-o-transition: all 0.4s ease;
			transition: all 0.4s ease;
		}

		.ct-pagination-middleTextHover{
			text-transform: uppercase;
			position: absolute;
			bottom: -27px;
			padding: 10px 0;
			width: 200px;
			left: 50%;
			margin-left: -100px;
			text-align: center;
			font-weight: 600;
			font-size: 13px;
			@include opacity(0);
			-webkit-transition: all 0.4s ease;
			-moz-transition: all 0.4s ease;
			-o-transition: all 0.4s ease;
			transition: all 0.4s ease;
		}

		&:hover{
			i{
				background-color:#f7201b;
				color: white;
			}
			.ct-pagination-middleTextHover{
				@include opacity(1);
			}	
		}
	}
	.ct-pagination-prevText{
		float: left;
	}
	.ct-pagination-nextText{
		float:  right;
	}
}