/** FOOTER
===================================*/
#footer{
	background-color: #1d1d1d;
	color: white;
}

.foot-power{
	text-align: center;
	background-color: #222222;
	padding: 7% 0;
	.powered-bigtext{
		max-width: 580px;
		margin : 0 auto 30px;
	}

	.logo-circle{
		max-width: 85px;
		margin : 0 auto;
	}
	.power-text{
		display: block;
		color: #706f6a;
		margin-bottom: 15px;
	}
}

.foot-bottom{
	@include clearfix();
	    padding: 20px 0 16px;
}

.copyright{
	color: #666666;
	font-size: 15px;
	text-align: center;
	@media screen and (min-width: 32em){
		float: left;
		margin-bottom: 0;
		text-align: left;
	}
	a{
		color: #666666;
		text-decoration: underline;
		@include prefixed(transition, all 0.3s linear);

		&:hover{
			color: white;
		}
	}
}

.foot-social{
	text-align: center;
	a{
		color: #666666;
		font-size: 23px;
		@include inline-block();
		margin: 0 10px;
		@include prefixed(transition, all 0.3s linear);
		&:last-of-type{
			padding-right: 0;
		}
		&:hover{
			color: white;
			text-decoration: none;
		}
	}
	@media screen and (min-width: 32em){
		float: right;
		text-align: right;
		a{
			margin: 0;
			margin-left: 20px;	
		}
	}
}