body{
	background: $body-bg;
	font: $font-size $primary-font;
	line-height: 1.5em;
	color: $text-color;
	font-weight: normal;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;	
}
ul, li{
	list-style:none;
	padding:0;
	margin:0;

}
#{headings()}{
	font-weight:normal;
	line-height:1.3em;		
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/** WRAPPER and For Responsive nav To work properly
===================================*/
.wrapper{
	width: 100%;
	position: relative;
	overflow: hidden;
	.wrapper-inner{
		transition: all 500ms cubic-bezier(0.25, 0.1, 0, 0.95);
		position: relative;
		width: 100%;
		display: block;
		margin-right: 0;
	}
	.mask-wrapper{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba( black, .15 );
		z-index: -1;
		opacity: 0;
		transition: all 350ms ease;
	}
	.wrapper-active{
		margin-right: -60%;
		float: right;
		.mask-wrapper{
			opacity: 1;
			z-index: 11;
		}
	}
	.on-active-right{
		.mask-wrapper{
			opacity: 1;
			z-index: 11;
		}
	}
}

/** LAYOUT 
===================================*/
.wrap-center{
	margin: 0 auto;
	max-width: 900px;
	@include clearfix();
	padding-right: 15px;
	padding-left: 15px;
}
.wrap-center-md{
	max-width: 630px;
	margin: 0 auto;
	@include clearfix();
	padding-right: 15px;
	padding-left: 15px;
}

#main{
	&.bg-grey{
		background-color: #efefef;
	}
}

/** BUTTON AND LINKS
===================================*/
.btn-red{
	background: none;
	border: none;
	background: #f7201b;
	color: white;
	text-align: center;
	@include inline-block();
	font-weight: 700;
	font-size: 16px;
	padding: 7px 25px;
	@include prefixed(transition, all 0.3s linear);
	min-width: 150px;
	&:hover, &:focus{
		text-decoration: none;
		background: black;
		color: white;
	}
}

.scrolltoTop{
	display: none;
	position: fixed;
	right: 25px;
	bottom: 100px;
    text-align: center;
	@include square(53px);
	border: 2px solid #4e4e4e;
	@include border-radius(100%);
	margin: 0 auto;
	line-height: 45px;
	color: #4e4e4e;
	@include prefixed(transition, all 0.3s ease);
	margin-bottom: 8px;
	z-index: 999;
	&:hover, &:active, &:focus{
		color: #f7201b;
		border-color: #f7201b;
		text-decoration: none;
	}
	&:before{
		font-size: 3em;
	}
}

/** SPACE
===================================*/
$spacer:
	( space15, 15px),
	( space20, 20px),
	( space30, 30px),
	( space45, 45px),
	( space60, 60px);
@each $space-name, $space-value in $spacer{
	.#{$space-name}{
		height: $space-value;
		display: block;
		width: 100%;
	}
}

/** TITLE
===================================*/
.title-md{
	font-weight: 700;
	font-size: 30px;
	margin: 0;
	margin-bottom: 25px;
	color: black;
	line-height: 1.2em;
	@media screen and (max-width: 48em){
		font-size: 23px;
	}
}

/** IMAGES
===================================*/
.image-center{
	text-align: center;
	margin-bottom: 15px;
}

/** FORM
===================================*/
#FileUpload {
    position:relative;
}

#BrowserVisible {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background:url(upload.gif) 100% 0px no-repeat;
    height:35px;
    width:100%;
    position: relative;

    &:before{
    	content: 'Browse';
    	background-color: #c9c9c9;
    	color: white;
    	position: absolute;
    	right: 0;
    	top: 0;
    	width: 90px;
    	height: 35px;
    	@include inline-block();
    	line-height: 35px;
    	text-align: center;
    	font-weight: 700;
    }
}

#FileField {
    width: 68%;
    height: 35px;
    background-color: #ececec;
    font-size:16px;
    border: none;
}

#BrowserHidden {
    position:absolute;
    width: 100%;
    height: 35px;
    text-align: right;
    @include opacity(0);
    opacity: 0;
    z-index: 2;
}

.redlink{
	color: #eb1c23;
	@include inline-block();
	&:hover{
		text-decoration: underline;
		color: darken( #eb1c23, 5%);

	}
}


.redlinefull{
	background-color: #f71f1b;
	height: 10px;
	width: 100%;
	padding-bottom: 20px;	
}
