/** HEADER
===================================*/
#header{
	@include clearfix();
	background-color: #000000;
	color: white;
	padding: 7px 0;
	width: 100%;
	position: relative;
	z-index: 5;

	.container{
		position: relative;
	}

	.logo-sticky{
		position: relative;
		@media screen and (min-width: 48em){
			position: absolute;
			top: -400px;
		}
		left: 0;
		width: 138px;
		@include prefixed (transition, all 0.7s ease);

		@media screen and (max-width: 48em){
			left: 0;
			right: 0;
			margin: auto;
		}
	}

	&.sticky{
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba(#000000, 0.8);
		z-index: 999;
		-webkit-transition: all 0.4s ease;
		transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		.logo-sticky{
			top: -6px;
		}
	}

	&.logoshow{
		.logo-sticky{
			top: -6px;
		}
	}
}