/** HERO LOVE
===================================*/
.herolove{
	background-color: white;
	padding: 60px 0;
	@include clearfix();
	text-align: center;
}
.herolove-logo{
	margin-bottom: 4.8em;
}

.herolove-art{
	font-size: 17px;
	line-height: 1.6em;
	text-align: center;
	margin-bottom: 40px;
}

.subscribe{
	margin-bottom: 50px;
	overflow: hidden;
	h3{
		margin: 0;
		margin-bottom: 20px;
		font-weight: 700;
		font-size: 16px;
		color: black;
	}
	.form-group{
		padding-left: 0;

		&.col-md-3{
			@media (min-width: 992px){
				 width: 22%;
			}
		}
		&.col-md-1{
			 width: 12%;
		}
	}
	
	.form-control{
		@include border-radius(0);
		background-color: #ededed;
		border: none;
		@include box-shadow(none);
		height: 38px;
	}

	.btn-red{
		@media screen and (min-width: 62em){
			width: 100%;
		}
	}
}

.next-scroll{
	text-align: center;

	span{
		text-transform: uppercase;
		color: black;
		font-size: 13px;
		display: block;
		letter-spacing: 0.08em;
	}
}
.nextscroll-nav{
	text-align: center;
	display: block;
	@include square(53px);
	border: 2px solid #000000;
	@include border-radius(100%);
	margin: 0 auto;
	line-height: 52px;
	color: black;
	@include prefixed(transition, all 0.3s ease);
	margin-bottom: 8px;
	&:hover, &:active, &:focus{
		color: #f7201b;
		border-color: #f7201b;
		text-decoration: none;
	}
	&:before{
		font-size: 3em;
	}
}

/** HERO INNER
===================================*/
.heroinner{
	@include background-size(cover);
	background-position: center center;
	background-repeat: no-repeat;
	padding: 15% 0;
	color: white;
	position: relative;
	z-index: 1;
	overflow: hidden;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		background-color: rgba(#000000, 0.4);
	}
	@media screen and (min-width: 62em){
		@include min-height(620px);
	}
	.container{
		position: relative;
	}

	.next-scroll{
		position: absolute;
		bottom: 10px;
		left: 0;
		width: 100%;
		z-index: 3;

		.nextscroll-nav{
			color: white;
			border-color: white;
		}
		span{
			color: white;
		}
	}
}

.hero-desc{
	max-width: 510px;
	position: relative;
	background: rgba(0, 0, 0 , 0.6);
    padding: 30px;
    border: 1px solid #000;
	h2{
		margin:0;
		margin-bottom: 10px;
		font-size: 30px;
		font-weight: 700;
		text-transform: uppercase;
  
		@media screen and(min-width: 62em){
			font-size: 42px;
		}
	}
	.content-text{
		font-size: 18px;
	}

	@media screen and(min-width: 62em){
		position: absolute;
		right: 15px;
	}
}

.subdonate{
	@include make-md-column(5);

	.inside{

	}
}
.bigPlus{
	@include make-md-column(2);
}