/** GIVING TIME
===================================*/
.givingtime{
	background-color: #434343;
	border-top: 10px solid #f7201b;
	color: white;
	text-align: center;
	@include clearfix();
	padding: 5% 0 7%;

	.givingtime-title{
		color: white;
		margin: 0;
		margin-bottom: 20px;
		font-size: 40px;
		font-weight: 700;
		line-height: 1em;
		text-transform: uppercase;
		@media screen and (min-width: 50em){
			font-size: 77px;
		}
	}

	.content-text{
		font-size: 18px;
		line-height: 1.5em;
		margin-bottom: 30px;	
	}
	
}

/** THUMBL LIST
===================================*/
.tumblrnews{
	position: relative;
	background-color: black;
}
.tumblrnews-item{
	width: 245px;
	overflow: hidden;
	background-color: #000000;
	color: #d1d3d4;
	float: left;
	p{
		line-height: 1.3em;
	}
	figure{
		text-align: center;
	}

	.content-text{
		font-size: 9px;
		line-height: 1.3em;
		padding: 15px;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		position: relative;
		overflow: hidden;
	}

	.ct-textLt{
		float: left;
		 width: 75%;
    	margin-right: 15px;
		.tag-name{
			color: #ee1b30;
			display: block;
			margin-bottom: 5px;
		}
	}

	.tag-social{
		color: white;
		display: block;
		@include square(29px);
		background-color: #f7201b; 
		text-align:center;
		@include border-radius(100%);
		font-size: 17px;
		line-height: 29px;
		@include prefixed(transition, all 0.3s ease-out);
		position: absolute;
		right: 15px;
		bottom: 20px;
		&:hover{
			background-color: white;
			text-decoration: none;
			color: #f7201b; 
		}
	}

}