/** MODAL
===================================*/
.modalWin{
	max-width: 680px;
	display: none;
	padding: 15px;

}

.title-modal{
	font-size: 26px;
	margin: 0;
	margin-bottom: 20px;
	font-weight: 600;

	.red{
		color: #ff0000;
		text-transform: uppercase;
	}
}


.modal-form{
	@media screen and (min-width: 48em){
		width: 675px;
	}
	.form-control{
		background-color: #ececec;
		border: none;
		@include border-radius(0);
		@include box-shadow(none);
		height: 35px;
	}

	textarea.form-control{
		height: auto;
	}

	.label{
		font-size: 13px;
		font-weight: 700;
		padding-left: 0;
		color: black;
	}
}
.modal-thanks{
	.md-thanks-icon{
		float: left;
		margin-right: 25px;
		color: #f7201b;
		.fa{
			font-size: 100px;
		}
	}

	.desc{
		overflow: hidden;

		h4{
			font-weight: normal;
			font-size: 26px;
			margin: 0;
			margin-bottom: 13px;
			margin-top: 5px;	
		}
	}
}


