/** VETERAN
===================================*/

.tworow-plus{
	background-color: #f0f1f1;
	padding: 60px 0;
}

.subdonate{
	figure{
		max-width: 275px;
		overflow: hidden;
		margin: 0 auto 25px;
		text-align: center;

		&.lovelogo{
			max-width: 400px;
		}
	}

	.content-text{
		margin-bottom: 25px;
	}
}

.bigPlus{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	figure{
		width: 100px;
		margin: 0 auto;
	}
}

.vidgallery-sm{
	text-align: center;
	ul{
		li{
			@include inline-block();
			max-width: 139px;
			margin: 0 5px;
			margin-bottom: 20px;
		}
	}
}